
# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:Of2gPK
RewriteEngine on
RewriteCond %{HTTP_HOST} ^rosshamish.netau.net$ [OR]
RewriteCond %{HTTP_HOST} ^www.rosshamish.netau.net$
RewriteRule ^lol$ http://rosshamish.netau.net [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Of2gPK:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:pbe6vB
RewriteEngine on
RewriteCond %{HTTP_HOST} ^rosshamish.netau.net$ [OR]
RewriteCond %{HTTP_HOST} ^www.rosshamish.netau.net$
RewriteRule ^lol/$ http://rosshamish.netau.net [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE pbe6vB:REDIRECTID

# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

ErrorDocument 404 /

