/* Graph Styles */
body {
    background-image: url('http://rosshamish.netau.net/dev/images/fabric_1.png');
}


path.winrate {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
 
line {
    stroke: black;
}

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}