/* Graph Styles */
body {
   /* background-image: url('http://rosshamish.netau.net/dev/images/fabric_1.png'); */
}


path.winrate {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

path.wr_dotted {
    stroke: black;
    stroke-width: 1;
    fill: none;
    stroke-dasharray: '1 0';
}
 
line {
    stroke: black;
}

.rounded-corners {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}