/* Graph Styles */
body {
   /* background-image: url('http://rosshamish.netau.net/dev/images/fabric_1.png'); */
}


path.winrate {
    stroke: steelblue;
    stroke-dasharray: "1";
    stroke-width: 2;
    fill: none;
}

path.wr_dotted {
    stroke: black;
    stroke-width: 1;
    fill: none;
}
 
line {
    stroke: black;
}

.selected_game {
    stroke: black;
    stroke-width: 3;
}

.rounded-corners {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.navbar-search .btn {
    margin: 0 0 0 0;
}